#divTop {
    background:#000000;
    height = "5px";
    position:absolute;
    top: 20%;
    left:0;
    right:0;
}

#divCenter {
    top: 45%;
    left:0;
    right:0;
    position:absolute;
}

#divBot {
    background:#000000;
    height = "5px";
    position:absolute;
    bottom: 20%;
    left:0;
    right:0;
}
